<div class="container-fluid mt-5">
  <div class="row w-100">
    <div class="col"></div>
    <div class="col-12">
      <div class="fs-2 py-2">จัดการบัญชี</div>
      <div class="card p-4 fs-5">
        <div class="ms-auto py-2">
          <button class="btn btn-primary me-2" data-bs-toggle="collapse" data-bs-target="#addaccount"
            aria-expanded="false" aria-controls="addaccount"> เพิ่มบัญชี</button>
        </div>
        <div class="w-75 m-auto">
          <div class="collapse" id="addaccount">
            <app-addaccount></app-addaccount>
          </div>
          <table datatable class="hover row-hover" [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th class="text-center">ชื่อ</th>
                <th class="text-center">email</th>
                <th class="text-center">การกัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.user; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td class="d-flex mx-auto ">
                  <button class="btn btn-outline-danger btn-sm m-auto small" (click)="deleteUser(item.id)">
                    ลบ
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
