<div class=" container-fluid mt-5">
  <div class="row w-100">
    <div class="col"></div>
    <div class="col-12">
      <div class="fs-2 py-2"> ประวัติ </div>
      <div class="card p-4  fs-5">
        <table datatable class="hover " [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th class="text-center">วันที่อัพเดท</th>
              <th class="text-center">อัพเดทโดย</th>
              <th class="text-center">จำนวนที่อัพเดท</th>
              <th class="text-center">จำนวนรายการ</th>
              <th class="text-center">สถานะ</th>
              <th class="text-center">note</th>
              <th class="text-center">การจัดการ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of logs">
              <td>{{ item.timestamp | date : "dd MMM y HH:mm:ss"}}</td>
              <td>{{ item.updateBy }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.countProduct }}</td>
              <td>{{ item.descripttion }}</td>
              <td>{{ item.note }}</td>
              <td>
                <button class=" btn btn-outline-success btn-sm " (click)="exportExcle(item.id)"> Export to Excle</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
