<table class="table">
  <thead>
    <tr>
      <td>sku</td>
      <td> ชื่อสินค้า</td>
      <td> status</td>
    </tr>
  </thead>
  <tbody *ngIf="this.uploadstatus" class="small">
    <tr *ngFor="let item of productsUpload">
      <td>{{ item.sku }}</td>
      <td>{{ item.productName }}</td>
      <td *ngIf="this.exitsProduct" class="text-danger"> มี sku นี้แล้ว </td>
      <td *ngIf="this.exitsProduct == false" class="text-success"> ผ่าน </td>
    </tr>
  </tbody>
  <tbody *ngIf="this.uploadstatus == false">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </tbody>
</table>
<div class="d-flex">
  <button class="btn btn-outline-success ms-auto" *ngIf="this.exitsProduct==false" (click)="uploadFile()">
    ยืนยันการอัพโหลด</button>

</div>
