<form>
  <div class="card card-body">
    <div class="row">
      <div class="col">
        <label for="barcode" class="form-label ">ชื่อ</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="barcode">
        </div>
      </div>
      <div class="col">
        <label for="sku" class="form-label ">email</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="sku">

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <label for="productname" class="form-label ">password</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="productName">

        </div>
      </div>
      <div class="col">
        <label for="quantity" class="form-label ">confirmpassword</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="quantity"> </div>
      </div>
    </div>
  </div>
</form>
