<div class="side-bar bg-dark" [ngClass]="sidebar ? 'showside' :  'hideside ' ">
  <div class="p-2 d-flex flex-column">
    <div class="d-flex">
      <div *ngIf="sidebar" class="w-100 m-auto">
        <div class="text-center fs-5 text-light ">
          eCommerce Stock
        </div>
      </div>
      <div>
        <mat-icon (click)="togglesidebar()" class=" text-light fs-2 text-end w-100" style="cursor: pointer;">
          <span *ngIf="sidebar==false">menu</span>
          <span *ngIf="sidebar">close</span>
        </mat-icon>
      </div>
    </div>
    <div>

      <button class="btn  btn-light" (click)="logout()"> logout</button>
    </div>
  </div>
</div>
