<div class=" container-fluid mt-5">
  <div class="row w-100">
    <div class="col"></div>
    <div class="col-12">
      <div class="fs-2 py-2"> หน้าแรก </div>
      <div class="card p-4  fs-5">
        <div class="ms-auto py-2">
          <button class="btn btn-success me-2" type="button" data-bs-toggle="collapse" data-bs-target="#addStock"
            (click)="switchCoolapse(1)" aria-expanded="false" aria-controls="addStock">
            Scan Barcode
          </button>
          <button class="btn btn-success me-2" type="button" data-bs-toggle="collapse" data-bs-target="#uploadstock"
            (click)="switchCoolapse(2)" aria-expanded="false" aria-controls="uploadstock">
            อัพโหลดไฟล์
          </button>
        </div>
        <div class="collapse" id="addStock">
          <app-scanner [status]="status"></app-scanner>
        </div>
        <div class="collapse" id="uploadstock">
          <app-stockfile></app-stockfile>
        </div>
        <div class="collapse" id="cutStock">
        </div>
        <table datatable class="hover row-hover" [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th class="text-center">อัพเดทล่าสุด </th>
              <th class="text-center">Barcode</th>
              <th class="text-center">Sku</th>
              <th class="text-center">ชื่อสินค้า</th>
              <th class="text-center">จำนวน</th>
              <th class="text-center">อัพเดทโดย</th>
            </tr>
          </thead>
          <tbody *ngIf="productlist != null">
            <tr *ngFor="let item of productlist">
              <td>{{ item.updateDate }}</td>
              <td>{{ item.barcode }}</td>
              <td>{{ item.sku }}</td>
              <td>{{ item.productName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.updateBy }}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div>
      </div>
    </div>

    <div class="col"></div>
  </div>

</div>
